<form action="/create-student" method="post">
  <input
    name="studentName"
    type="text"
    placeholder="Write up your name, fool"
  />
  <input
    name="country"
    type="text"
    placeholder="Where do you come from, Fool?"
  />

  <input
    type="password"
    name="password"
    placeholder="Please, dont write password"
  />

  <button type="submit">Create a user</button>
</form>