<form action="/search">
  <input
    type="text"
    placeholder="Search for a student name"
    name="studentName"
  />

  <button type="submit">SEARCH YOUR NAME, WE KNOW YOU ARE LOOKING FOR YOURSELF</button>
</form>